<%= render partial:"layouts/trip_nav", locals:{trip: @trip} %>

<div class="container">
    <h1>Costs</h1>
    <%= link_to "add new cost", new_trip_cost_path(@trip), class:"btn btn-primary" %>
    <table class="table">
        <thead>
            <tr>
                <th>Activity/Description</th>
                <th>Estimated Cost per person</th>
                <th>Actual Cost per person</th>
            </tr>
        </thead>
        <tbody>
        <% @costs.each do |cost| %>
            <tr>
                <td>
                    <% if cost.activity.nil? %>
                        <%= cost.description %>
                    <% else %>
                        <%= cost.activity.name %>
                    <% end %>
                </td>
                <td>
                    <%= cost.estimated_amount %>
                </td>
                <td>
                    <%= form_for :cost, url:trip_cost_path(@trip, cost), method: :put, html: {class: "form-inline"} do |f| %>
                        <div class="form-group">
                            <%= f.text_field :actual_amount, value: cost.actual_amount, placeholder:cost.estimated_amount, class: "form-control"   %>
                        </div>
                        <%= f.submit "update", class: "btn btn-default" %>
                    <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td></td>
                <td><%= @total %></td>
            </tr>
        </tfoot>
    </table>
</div>