<%= render partial:"layouts/trip_nav", locals:{trip: @trip} %>

<div class="container">
    <h1>Costs</h1>
    <% if @is_user_admin %>
        <%= link_to "add new cost", new_trip_cost_path(@trip), class:"btn btn-primary" %>
    <% end %>
    <table class="table">
        <thead>
            <tr>
                <th>Activity/Description</th>
                <th>Paid by</th>
                <th>Total Cost</th>
                <th>Who owes</th>
            </tr>
        </thead>
        <tbody>
        <% @costs.each do |cost| %>
            <tr>
                <td>
                    <% if cost.activity.nil? %>
                        <%= cost.description %>
                    <% else %>
                        <%= cost.activity.name %>
                    <% end %>
                </td>
                <td>
                    <% unless cost.user.nil? %>
                        <%= cost.user.name %>
                    <% end %>
                </td>
                <td>
                    <% if @is_user_admin %>
                        <%= form_for :cost, url:trip_cost_path(@trip, cost), method: :put, html: {class: "form-inline"} do |f| %>
                            <div class="form-group">
                                <%= f.text_field :actual_amount, value: cost.actual_amount, placeholder:cost.estimated_amount, class: "form-control"   %>
                            </div>
                            <%= f.submit "update", class: "btn btn-default" %>
                        <% end %>
                    <% else %>
                        <% if cost.actual_amount.present? %>
                            <%= cost.actual_amount %>
                        <% else %>
                            <i><%= cost.estimated_amount %></i>
                        <% end %>
                    <% end %>
                </td>
                <td>
                    <% cost_users = cost.cost_users.collect do |cu| cu.user end %>

                    <select class="multiselect" multiple="multiple">
                        <% @trip_users.each do |tr| %>
                            <option value="<%= tr.user.id %>"><%= tr.user.name %></option>
                        <% end %>
                    </select>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>