<%= render partial:"layouts/trip_nav", locals:{trip: @trip} %>

<div class="container">
    <h1>Costs</h1>
    <%= link_to "add new cost", new_trip_cost_path(@trip), class:"btn btn-primary" %>
    <table class="table">
        <thead>
            <tr>
                <th>Activity/Description</th>
                <th>Estimated Cost per person</th>
                <th>Actual Cost per person</th>
            </tr>
        </thead>
        <tbody>
        <% @costs.each do |cost| %>
            <tr>
                <td>
                    <% if cost.activity.nil? %>
                        <%= cost.description %>
                    <% else %>
                        <%= cost.activity.name %>
                    <% end %>
                </td>
                <td>
                    <%= cost.estimated_amount.nil? ? cost.actual_amount : cost.estimated_amount %>
                </td>
                <td>
                    <%= cost.actual_amount %>
                </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td></td>
                <td><%= @total %></td>
            </tr>
        </tfoot>
    </table>
</div>