<%= render partial:"layouts/trip_nav", locals:{trip: @trip} %>

<h1><%= @activity.name %></h1>
<%= form_for :schedule, url:trip_schedule_index_path(@trip) do |f| %>
    <%= f.hidden_field :activity_id, value: @activity.id  %>
    <div class="form-group">
        <%= f.label "start time" %>
        <%= f.text_field :day %>
        <%= f.text_field :start_hour %>
        <%= f.text_field :start_minute %>
    </div>
    <div>
        <%= f.label "duration" %>
        <%= f.text_field :duration %>
    </div>

    <%= f.submit :submit, class:"btn btn-default" %>
<% end %>