<%= render partial: "layouts/trip_nav", locals: {trip: @trip} %>

<div class="container">
    <h1><%= @activity.name %></h1>
    <%= form_for :schedule, url: trip_schedule_index_path(@trip) do |f| %>
        <%= f.hidden_field :activity_id, value: @activity.id %>
        <div class="form-group <%= @schedule.errors[:day].present? ? "has-error" : "" %>">
            <%= f.label "day" %>
            <i><%= @schedule.errors[:day][0] %></i>
            <%= f.select(:day, options_for_select((1 .. @trip.length).map do |day|
              ["day #{day}", day]
            end), {}, class: "form-control") %>
        </div>
        <div class="form-group <%= @schedule.errors[:start_time].present? ? "has-error" : "" %>">
            <%= f.label "start time" %>
            <i><%= @schedule.errors[:start_time][0] %></i>
            <div class="bootstrap-timepicker input-group">
                <span class="input-group-addon"><div class="glyphicon glyphicon-time"></div> </span>
                <%= f.text_field :start_time, class:"input-small timepicker form-control" %>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="schedule[duration]" id="option1" value="30">half hour
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="schedule[duration]" id="option2" value="60">1 hour
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="schedule[duration]" id="option3" value="90">1 hour and a half
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="schedule[duration]" id="option3" value="120">2 hours
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="schedule[duration]" id="option3" value="180">3 hours
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="schedule[duration]" id="option3" value="-1">unbounded
                </label>
            </div>
        </div>

        <%= f.submit :submit, class: "btn btn-default" %>
    <% end %>
</div>
