<div class="container">
    <%= form_for :activity, url:trip_activity_index_path(@trip_id) do |f| %>
        <div class="form-group">
            <%= f.label "activity name" %>
            <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">
            <%= f.label "website" %>
            <%= f.text_field :website, class:"form-control" %>
        </div>
        <div class="form-group">
            <%= f.label "cost" %>
            <%= f.text_field :cost, class:"form-control" %>
        </div>
        <div class="form-group">
            <%= f.label "type" %>
            <%= f.text_field :type, class:"form-control" %>
        </div>

        <%= f.submit :submit, class:"btn btn-default" %>
    <% end %>
</div>