<%= render partial:"layouts/trip_nav", locals:{trip: @trip} %>

<div class="container">
    <h1><%= @trip.title %> <small><%= @trip.location %></small></h1>

    <%= link_to "edit trip", edit_trip_path(@trip) %>

    <ul>
        <% @schedules.each do |schedule| %>
            <li>
                day <%= schedule.day %>
                @ <%= schedule.start_time.strftime "%l:%M %P" %>
                <%= link_to schedule.activity.name, trip_activity_path(@trip, schedule.activity) %>
            </li>
        <% end %>
    </ul>
</div>