<%= render partial:"layouts/trip_nav", locals:{trip: @trip} %>

<div class="container">
    <h1>Trip participants</h1>
    <% if @is_user_admin %>
        <%= link_to "add new guest", new_trip_group_path(@trip), class:"btn btn-primary" %>
    <% end %>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Is Admin?</th>
                <% if @is_user_admin %>
                    <th></th>
                    <th></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.user.name %></td>
                    <td><%= user.user.email %></td>
                    <td><div class="glyphicon <%= user.role == "planner" ? "glyphicon-ok" : "" %>"></div></td>
                    <% if @is_user_admin %>
                    <td>
                        <%= button_to "remove from trip", trip_group_path(@trip, user), method: :delete, class: "btn btn-default" %>
                    </td>
                    <td>
                        <%= form_for :group_user, url: trip_group_path(@trip, user), method: :put do |f| %>
                            <% if user.role == "planner" %>
                                <%= f.hidden_field :role, value:"guest" %>
                                <%= f.submit "remove admin", class: "btn btn-default" %>
                            <% else %>
                                <%= f.hidden_field :role, value:"planner" %>
                                <%= f.submit "make admin", class: "btn btn-default" %>
                            <% end %>
                        <% end %>
                    </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>