<%= render partial:"layouts/trip_nav", locals:{trip: @trip} %>

<div class="container">
    <%= form_for @group_user, url:trip_group_index_path(@trip) do |f| %>
        <%= f.hidden_field :invitation_id, :value=> @invitation.id %>
        <%= f.hidden_field :invitation_code, :value=> @invitation.code %>
        <%= f.label "join trip #{@trip.title}" %>
        <%= f.submit :submit, class:"btn btn-default" %>
    <% end %>
</div>
