<%= render partial:"layouts/trip_nav", locals:{trip: @trip} %>

<% total_to_pay = 0 %>
<% total_due = 0 %>
<div class="container">
    <h1>Reimbursements</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Guests</th>
                <th>In</th>
                <th>Out</th>
                <th>Owe</th>
                <th>Am Owed</th>
                <th>Paid</th>
                <th>Set paid</th>
            </tr>
        </thead>
        <tbody>
            <% @trip_users.each do |u| %>
                <%
                   paid = 0
                   @paid.each do |cost|
                    cost.cost_users.each do |cu|
                        if cu.user.id == u.user.id && cost.actual_amount.present?
                            paid += cost.actual_amount / cost.cost_users.count
                        end
                    end
                   end
                   total_due += paid

                   owe = 0
                   @owe.each do |cost_user|
                    if cost_user.cost.user.id == u.user.id && cost_user.cost.actual_amount.present?
                        owe += cost_user.cost.actual_amount / cost_user.cost.cost_users.count
                    end
                   end
                   total_to_pay += owe
                %>
                <tr>
                    <td><%= u.user.name %></td>
                    <td>
                        <%= paid %>
                        <button type="button" class="btn btn-default tooltip" data-toggle="popover" data-placement="top"
                                data-content="                            <%
                                                               @paid.each do |cost|
                                                                cost.cost_users.each do |cu|
                                                                    if cu.user.id == u.user.id && cost.actual_amount.present? %>
                                                            <%= cost.actual_amount / cost.cost_users.count %>
                                                            <%= cost.description %>
                                                             <%     end
                                                                end
                                                               end
                                                            %>">
                        ?
                        </button>
                    </td>
                    <td>
                        <%= owe %>
                        <button type="button" class="btn btn-default tooltip" data-toggle="popover" data-placement="top" data-content="?">
                        ?
                        </button>
                    </td>
                    <td>
                        <% if owe > paid %>
                            <%= owe - paid %>
                        <% end %>
                    </td>
                    <td>
                        <% if paid > owe %>
                            <%= paid - owe %>
                        <% end %>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            <% end %>
        </tbody>
        <tfoot>
            <tr>

            </tr>
        </tfoot>
    </table>
</div>